[submodule "plugins"]
	path = plugins
url=git@github.com:rlyle/self-plugins.git
[submodule "lib/cpp-sdk"]
	path = lib/cpp-sdk
url=git@github.com:rlyle/cpp-sdk.git
[submodule "clients/self-java-sdk"]
	path = clients/self-java-sdk
url=git@github.com:rlyle/self-java-sdk.git
[submodule "clients/self-python-sdk"]
	path = clients/self-python-sdk
url=git@github.com:rlyle/self-python-sdk.git
[submodule "clients/self-javascript-sdk"]
	path = clients/self-javascript-sdk
url=git@github.com:rlyle/self-javascript-sdk.git
[submodule "clients/self-unity-sdk"]
	path = clients/self-unity-sdk
url=git@github.com:rlyle/self-unity-sdk.git
[submodule "docs"]
	path = docs
url=git@github.com:rlyle/self-docs.git